# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Caches and logs
**/cache/
**/*.log

# Dataset directory and files in the backend
machine_learning/dataset/
machine_learning/*.csv

# Virtual environment in the backend
machine_learning/venv/

# Jupyter notebook checkpoints in the backend
machine_learning/.ipynb_checkpoints/

# Machine learning models in the backend
machine_learning/*.joblib

# Other files and folders to ignore in both frontend and backend
*.sqlite3
.DS_Store
.vscode/
.idea/
*.swp
